@import "../../core/styles/variables";

.sf-tf-sidenav {
  padding: $sf-spacing-inner-third;
  width: 55px;
  border-right: solid 3px $sf-color-primary-light;
  box-sizing: border-box;
  position: relative;
  //overflow-y: scroll;
  -webkit-transition: all $sf-animation-time;
  -moz-transition: all $sf-animation-time;
  -ms-transition: all $sf-animation-time;
  -o-transition: all $sf-animation-time;
  transition: all $sf-animation-time;

  .sf-icon-toggle {
    position: absolute;
    z-index: 1;
    font-size: 9px;
    padding: 3px 1px 3px 3px;
    color: $sf-color-primary;
    background: $sf-color-primary-light;
    border-radius: 5px;
    right: -14px;
    cursor: pointer;
  }

  &.sf-sidenav-expanded {
    width: 250px;
    .sf-icon-toggle {
      padding: 3px 3px 3px 1px;
    }
  }
}