.chat-component {
  height: 100%;
  display: none;
}
.chat-component.show-chat-component {
  display: block;
}

.chat-component .intercom-home-screen-header{
  width: 370px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #8648c0;
  height: 70px;
  z-index: 10;
  padding: 5px;
  text-align: left;
  color : #fff;
  z-index: 1;
  /*display: flex;*/
  display: none;
  justify-content: space-between;
  align-items: center;
  }
  
  .chat-component .main-card-div{
  width: 100%;
  /*position: absolute;*/
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /*z-index: 2;*/
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  /*border: 0.04em solid #d5cdda;*/
  top: 0;
  bottom: 0px;
  height: 100%;
  /*margin-top: 70px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }
  
  .chat-component .main-card-div::placeholder{
  color : #f9f1ec;
  }
  
  .chat-component .back-icon{
  width: 30px;
  transform: rotate(180deg);
  }
  
  .chat-component .example-head{
  margin : 0;
  }
  
  .chat-component .replies-para{
  margin : 0;
  }
  
  .chat-component .main-div-arrow{
  display: inline;
  }
  
  .chat-component .head-main-div{
  display: inline;
  }
  
  .chat-component .img-main-div{
  display: flex;
  }
  
  .chat-component .img-chat{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: -15px;
  border: 2px solid rgb(255, 255, 255);
  }
  
  .chat-component .input-main-div{
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .chat-component .chat-input{
  height: 30px;
  height: 30px;
  width: 60%;
  border : none;
    font-size: 14px;
  }
  
  .chat-component .chat-input:focus{
  outline: none;
  }
  
  .chat-component .input-icons{
  width : 20px;
  }
  
  .chat-component .input-icons:focus{
  outline: none;
  }
  
  .chat-component .send-button{
  background: none;
  border: none;
  }

  .chat-component .send-button i.material-icons{
    font-size: 30px;
    color: #eb58e5;
  }

  .chat-component .send-button:focus{
  outline: none;
  }
  
  .chat-component .chatmsg-div{
  width: 100%;
  margin-bottom: 5px;
  min-height: 30px;
  }
  
  .chat-component .chatmsg-main-div{
  height: 100%;
  padding: 5px;
  overflow-y: auto;
  }
  
  .chat-component .chatmsg-para{
  margin : 0;
  background: #b58eda;
  padding: 5px;
  float: right;
  border-radius: 10px;
  }
  
  .chat-component .chatmsg-pararec{
  margin : 0;
  background: #b58eda;
  padding: 5px;
  border-radius: 10px;
  float : left;
  }