@import "../../../core/styles/variables";

.sf-tf-form-thumbnail {
  width: 30px;
  height: 40px;
  box-shadow: 0 1px 5px $sf-color-shadow-secondary;
  border-radius: $sf-border-radius-primary;
  margin-bottom: $sf-spacing-inner-secondary;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}